.contact_me {
  font-size: 20px;
  color: black;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}
.container {
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 20px;
}
.container_left {
  width: 100%;
  max-width: 800px;
}
.contact_info {
  color: black;
  font-size: 18px;
  text-align: start;
  margin-top: auto;
}
.paragraph {
  color: black;
  font-size: 14px;
  text-align: start;
  width: 100%;
  padding-top: auto;
}
.info_container {
  display: grid;
  gap: 20px;
}
.info {
  border: 1px solid black;
  border-radius: 10px;
  background-color: Transparent;
  border: 1.5px solid rgb(55, 98, 90);
}
.container_right {
  width: 100%;
  gap: 20px;
  text-align: start;
  border: 1.5px solid rgb(55, 98, 90);
  border-radius: 10px;
}
.inputs {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  text-align: start;
  padding: 15px;
}
.inputs textarea {
  width: 100%;
  height: 78px;
  border: 1.5px solid rgb(147, 155, 154);
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  padding-top: 10px;
}
.inputs input {
  width: 100%;
  height: 27px;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  border: 1.5px solid rgb(147, 155, 154);
}
.inputs label {
  padding-bottom: auto;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: auto;
}
.inputs button {
  color: rgb(231, 235, 231);
  background-color: rgb(55, 98, 90);
  width: 100%;
  max-width: 30%;
}
.inputs button:hover {
  color: black;
  background-color: Transparent;
  border: 1px solid rgb(50, 62, 50);
}
