.my_works {
  font-size: 20px;
  color: black;
  padding-top: 5rem;
}
.button_container {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.design_container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 20px;
  margin: 0px auto;
  max-width: 800px;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.design {
  border: 1px solid rgb(127, 127, 127);
  border-radius: 5%;
  width: 100%;
}
.active {
  background-color: Transparent !important;
  color: black !important;
  border: 1px solid rgb(50, 62, 50) !important;
}
@media only screen and (max-width: 550px) {
  .my_works {
    font-size: 15px;
  }
}
