.container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.about_me {
  padding-bottom: 2rem;
}
.bullets li::marker {
  color: rgb(55, 98, 90);
  font-size: 1rem;
}
.color_name {
  color: rgb(35, 109, 85);
}
.button {
  background-color: rgb(42, 128, 101);
}
.button:hover {
  color: white;
  border: 1px solid rgb(42, 128, 101);
}
.picture_style {
  border-radius: 10%;
  border: 2px solid rgb(55, 98, 90);
  width: 30%;
  margin-right: 10px;
  width: 100%;
  max-width: 400px;
}
.bullets {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-left: 20px;
}
.right_container {
  margin-top: auto;
  margin-bottom: auto;
}
.label_style {
  color: black;
  font-weight: 500;
}
.value_style {
  color: rgb(35, 109, 85);
}
