body {
  background-color: rgb(207, 220, 216);
}
.navCSS {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(55, 98, 90);
  text-align: center;
  padding: 20px 0px;
  position: fixed;
  top: 0;
  right: 0;
  color: black;
}
.navigation {
  color: black;
  font-weight: bold;
}
