.button {
  color: rgb(231, 235, 231);
  background-color: rgb(55, 98, 90);
  margin-right: 15px;
  font-size: 14px;
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem 1rem;
}
.button:hover {
  color: black;
  background-color: Transparent;
  border: 1px solid rgb(50, 62, 50);
}
